.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__info, &__facilities {
        margin: 0 20px;

        p, h3 {
            margin: 0;
            padding: 5px 0;
        }
    }

    &__facilities {
        ul {
            padding: 0;
            list-style: none;

            li {
                padding: 5px 0;
            }
        }
    }
}