@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.hotel {
    font-family: 'Lato', sans-serif;

    &__info {
        h1 {
            font-size: 2.5em;
            color: #333;
            text-align: center;
            margin-bottom: 1em;
        }

        h2 {
            font-size: 1.8em;
            color: #666;
            text-align: center;
            margin-bottom: 1em;
        }

        p {
            font-size: 1.2em;
            color: #999;
            text-align: center;
            margin-bottom: 1em;
        }
    }

    &__facilities {
        background-color: #f8f8f8;
        padding: 2em;

        h3 {
            font-size: 2em;
            color: #333;
            text-align: center;
            margin-bottom: 1em;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                margin: 1em;
                padding: 2em;
                border: 1px solid #ccc;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

                h4 {
                    font-size: 1.5em;
                    color: #333;
                    text-align: center;
                    margin-bottom: 1em;
                }

                p {
                    font-size: 1.2em;
                    color: #999;
                    text-align: center;
                    margin-bottom: 1em;
                }
            }
        }
    }

    &__rooms {
        h3 {
            font-size: 2em;
            color: #666;
            text-align: center;
            margin-bottom: 1em;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                flex: 1 0 calc(33.33% - 2em);
                max-width: calc(33.33% - 2em);
                box-sizing: border-box;
                margin: 1em;
                padding: 2em;
                border: 1px solid #ccc;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #f8f8f8;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                h4 {
                    font-size: 1.5em;
                    color: #333;
                    text-align: center;
                    margin-bottom: 1em;
                }

                p {
                    font-size: 1.2em;
                    color: #999;
                    text-align: center;
                    margin-bottom: 1em;
                }
            }
        }
    }
}